<html>
<head>
	{{>formatting}}
	
	<script type="text/javascript" src="/js/ready.js"></script>
	<script type="text/javascript">
		function deleteClock() {
			window.location.href = "/remove?name={{clocks.name}}";
		}
		function cancelClock() {
			window.location.href = "/index";
		}
	</script>
</head>
<body>
	<form action="/create/add" method="post">
		{{#if editing}}
			<input class="sneDel" type="button" value="Delete" onclick="deleteClock()">
		{{else}}
			<input class="sneDel" type="button" value="Cancel" onclick="cancelClock()">
		{{/if}}
		<!--On/Off indicator-->
		

		<!--Input name and time-->
		<br>Name: <input type="text" id="clkname" name="clkname" value="{{clocks.name}}">
		<br>Time: <input type="time" id="clktime" name="clktime" value="{{clocks.rawTime}}">
		
		<!--Input day of week-->
		<div class="indentBlock">
			<input type="checkbox" class="reqBox" name="monChoice" value="checked" {{clocks.week.monCheck}}>Mon
			<input type="checkbox" class="reqBox" name="tueChoice" value="checked" {{clocks.week.tuesCheck}}>Tue
			<input type="checkbox" class="reqBox" name="wedChoice" value="checked" {{clocks.week.wedCheck}}>Wed
			<input type="checkbox" class="reqBox" name="thuChoice" value="checked" {{clocks.week.thursCheck}}>Thu
			<input type="checkbox" class="reqBox" name="friChoice" value="checked" {{clocks.week.friCheck}}>Fri
			<input type="checkbox" class="reqBox" name="satChoice" value="checked" {{clocks.week.satCheck}}>Sat
			<input type="checkbox" class="reqBox" name="sunChoice" value="checked" {{clocks.week.sunCheck}}>Sun
		</div>
		
		Alarm Disabling Puzzles:
			<div class="indentBlock">
				<!--<input type="checkbox" class="reqBox1" name="trivChoice" value="checked" {{clocks.puzzles.triviaCheck}}>Music
			<br>-->
			<input type="checkbox" class="reqBox1" name="mathChoice" value="checked" {{clocks.puzzles.mathCheck}}>Math
			<br><input type="checkbox" class="reqBox1" name="memChoice" value="checked" {{clocks.puzzles.memoryCheck}}>Memory
			
			</div>

		Alarm Sound:
			<div class="indentBlock">
				<select name="musChoice">
					{{#each songs}}
					<option value="{{id}}" {{isChecked}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
		
		Difficulty
		<div class="indentBlock">
			<input type="radio" name="diff" value="easy" {{clocks.difficulty.easyCheck}}>Easy
		<br><input type="radio" name="diff" value="med" {{clocks.difficulty.medCheck}}>Medium 
		<br><input type="radio" name="diff" value="hard" {{clocks.difficulty.hardCheck}}>Hard
		</div>
		
		<input type="submit" id="submitSave" class="sneSave" value="Save & Exit">
	</form>
</body>
</html>
