<html>
<head>
	<title>Test Page</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<form action="/add">
		<input type="submit" id="sne" value="Submit & Exit">
		<br>Name: <input type="text" name="clkname" value={{name}}>
		<br>Time: <input type="time" name="clktime" value={{time}}>
		<br>Ongoing? <input type="radio" name="ongoing" value="true" checked>Yes <input type="radio" name="ongoing" value="false" {{singleUse}}>No

		<br><input type="checkbox" name="dayChoice" value="mon" {{monCheck}}>Mon
		<input type="checkbox" name="dayChoice" value="tue" {{tuesCheck}}>Tue
		<input type="checkbox" name="dayChoice" value="wed" {{wedCheck}}>Wed
		<input type="checkbox" name="dayChoice" value="thu" {{thursCheck}}>Thu
		<input type="checkbox" name="dayChoice" value="fri" {{friCheck}}>Fri
		<input type="checkbox" name="dayChoice" value="sat" {{satCheck}}>Sat
		<input type="checkbox" name="dayChoice" value="sun" {{sunCheck}}>Sun

		<br>
		<p>End date: <input type="date" name=enddate value="{{date}}"> </p>
		<p>Unlock method:
			<br><input type="checkbox" name="puzzleChoice" value="trivia" {{triviaCheck}}>Trivia
			<br><input type="checkbox" name="puzzleChoice" value="math" {{mathCheck}}>Math
		</p>
		Ongoing? <input type="radio" name="difficulty" value="easy">Easy <input type="radio" name="difficulty" value="med">Medium <input type="radio" name="difficulty" value="hard">Heavy
		<a href="/"><div class="bigButton" id="Cancel"><p class="buttonText">Cancel</p></div></a>
	</form>
</body>
</html>
