<html>
<head>
	<title>Test Page</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">
	<script type="text/javascript">
		function deleteClock() {
			window.location.href = "/";
		}
	</script>
</head>
<body>
	<form action="/add">
		<input type="submit" class="sne" value="Save & Exit">
		<input type="radio" name="on" value="true" checked>On <input type="radio" name="on" value="false">Off
		<br>Name: <input type="text" name="clkname" value={{name}}>
		<br>Time: <input type="time" name="clktime" value={{time}}>
		<br>Ongoing? <input type="radio" name="ongoing" value="true" checked>Yes <input type="radio" name="ongoing" value="false" {{singleUse}}>No

		<div class="indentBlock">
			<input type="checkbox" name="dayChoice" value="mon" {{monCheck}}>Mon
			<input type="checkbox" name="dayChoice" value="tue" {{tuesCheck}}>Tue
			<input type="checkbox" name="dayChoice" value="wed" {{wedCheck}}>Wed
			<input type="checkbox" name="dayChoice" value="thu" {{thursCheck}}>Thu
			<input type="checkbox" name="dayChoice" value="fri" {{friCheck}}>Fri
			<input type="checkbox" name="dayChoice" value="sat" {{satCheck}}>Sat
			<input type="checkbox" name="dayChoice" value="sun" {{sunCheck}}>Sun
		</div>
		
		<!--p>End date: <input type="date" name=enddate value="{{date}}"></p-->
		Unlock method:
			<div class="indentBlock">
				<input type="checkbox" name="puzzleChoice" value="trivia" {{triviaCheck}}>Music
			<br><input type="checkbox" name="puzzleChoice" value="math" {{mathCheck}}>Math
			<br><input type="checkbox" name="puzzleChoice" value="memory" {{memoryCheck}}>Memory
			</div>
		
		Difficulty
		<div class="indentBlock">
			<input type="checkbox" name="difficulty" value="easy">Easy
		<br><input type="checkbox" name="difficulty" value="med">Medium 
		<br><input type="checkbox" name="difficulty" value="hard">Hard
		</div>
		<input class="sne" type="button" value="Cancel" onclick="deleteClock()">
	</form>
</body>
</html>
