<html>
<head>
	<title>Create Alarm</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">

	<script type="text/javascript">
		function deleteClock() {
			window.location.href = "/index";
		}
	</script>
</head>
<body>
	<form action="/create/add">
		<input class="sne" type="button" value="Cancel" onclick="deleteClock()">
		<br><input type="radio" name="online" value="ON" checked>ON <input type="radio" name="online" value="OFF" {{offlineChecked}}>OFF
		<br>Name: <input type="text" name="clkname" value="{{clocks.name}}">
		<br>Time: <input type="time" name="clktime" value="{{clocks.rawTime}}">
		<!--div>Ongoing? <input type="radio" name="ongoing" value="" checked>Yes <input type="radio" name="ongoing" value="checked" {{clocks.singleUse}}>No </div-->

		<div class="indentBlock">
			<input type="checkbox" name="monChoice" value="checked" {{clocks.week.monCheck}}>Mon
			<input type="checkbox" name="tueChoice" value="checked" {{clocks.week.tuesCheck}}>Tue
			<input type="checkbox" name="wedChoice" value="checked" {{clocks.week.wedCheck}}>Wed
			<input type="checkbox" name="thuChoice" value="checked" {{clocks.week.thursCheck}}>Thu
			<input type="checkbox" name="friChoice" value="checked" {{clocks.week.friCheck}}>Fri
			<input type="checkbox" name="satChoice" value="checked" {{clocks.week.satCheck}}>Sat
			<input type="checkbox" name="sunChoice" value="checked" {{clocks.week.sunCheck}}>Sun
		</div>
		
		Alarm Sound:
			<div class="indentBlock">
				<input type="radio" name="diff" value="easy" {{clocks.difficulty.easyCheck}}>Easy
			<br><input type="radio" name="diff" value="med" {{clocks.difficulty.medCheck}}>Medium 
			<br><input type="radio" name="diff" value="hard" {{clocks.difficulty.hardCheck}}>Hard
			</div>
		<!--p>End date: <input type="date" name=enddate value="{{date}}"></p-->
		Alarm Disabling Puzzles:
			<div class="indentBlock">
				<select name="musChoice">
					{{#each songs}}
					<option value="{{id}}" {{isChecked}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
		
		Difficulty
		<div class="indentBlock">
			<input type="radio" name="diff" value="easy" {{clocks.difficulty.easyCheck}}>Easy
		<br><input type="radio" name="diff" value="med" {{clocks.difficulty.medCheck}}>Medium 
		<br><input type="radio" name="diff" value="hard" {{clocks.difficulty.hardCheck}}>Hard
		</div>
		
		<input type="submit" class="sne" value="Save & Exit">
	</form>
</body>
</html>
