<html>
<head>
	<title>Alarm Clock</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/slider.css">

	<meta charset="utf-8">
	
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/watch.js"></script>

</head>
<body>
	<div class="container">
		
		<div id="alarmsBox">
			{{#each alarms}}
			<div style="margin: 2px 0px;float:left;">
				<div class="alarm" id="{{name}}">
						<div class="nameText"><span class="theName">{{name}}</span>
							<label class="switch">
								{{#if online}}
									<input type="checkbox" autocomplete="off">
								{{else}}
									<input type="checkbox" autocomplete="off" checked>
								{{/if}}
								<span class="slider round"></span>
							</label>
						</div>
						<div class="timeText">
							<span class="timeSpan">{{time}}</span>
							<span class="songText"style="visibility:hidden">{{song}}</span>
						</div>
						
						<div class="daysText"><span>{{week.text}}</span></div>
						
				</div>
				<!--a href="#" class="on"><div><p class="timeText">ON</p></div></a-->
				<!--a href="create?name={{name}}" class="editLink"><div><p class="buttonText">EDIT</p></div></a-->
			</div>
			{{/each}}			
		</div>
		<a href="/create">
			<div class="bigButton" id="add"><p class="addAlarmButtonText">Add Alarm</p></div>
		</a>
		<!--a href="/puzzle"><div class="bigButton" id="practice"><p class="practiceButtonText">Practice</p></div></a-->
		<!--a href="/options"><div class="bigButton" id="Options"><p class="buttonText">Options</p></div></a-->
		<!--div><a href="/help"><div class="bigButton" id="Help"><p class="buttonText">Help</p></a></div-->
	</div>
</body>
</html>