<html>
<head>
	<title>Alarm Clock</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="container">

		<div id="alarmsBox">
			{{#each alarms}}
			<div style="margin: 2px 0px;float:left;">
				<a href="create?name={{name}}">
				<div class="alarm" id="{{name}}">
						<div class="nameText">{{name}}</div>
<<<<<<< HEAD
						<div class="timeText">{{time}}</div>
						<div class="daysText">{{week}}</div>
					
				</div><!--/a-->
				<!--a href="#" class="on"><div><p class="timeText">ON</p></div></a-->
				<a href="create?name={{name}}" class="editLink">
					<div class="editButtonText">EDIT</div>
				</a>
=======
						<div class="timeText">{{time}}</span></div>
						
						<div class="timeText">{{week.text}}</div>
						
				</div></a>
				<!--a href="#" class="on"><div><p class="timeText">ON</p></div></a-->
				<!--a href="create?name={{name}}" class="editLink"><div><p class="buttonText">EDIT</p></div></a-->
>>>>>>> a57175d0c464d962eca0910fdc274c1693782e46
			</div>
			{{/each}}			
		</div>

		<a href="create">
			<div class="bigButton" id="add">
				<p class="addAlarmButtonText">Add Alarm</p>
			</div>
		</a>
		<!--a href="/options"><div class="bigButton" id="Options"><p class="buttonText">Options</p></div></a-->
		<!--div><a href="/help"><div class="bigButton" id="Help"><p class="buttonText">Help</p></a></div-->
	</div>
</body>
</html>
