<html>
<head>
	<title>Solve the Puzzle</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>
	<div class="container">
		<div id="countBox">
			<div class="count"></div>
			<div class="count"></div>
			<div class="count"></div>
		</div>
		<div id="questionBox">{{question}}</div>
		<div id="choiceBox">
			<a><div class="choice">{{choice1}}</div></a>
			<a><div class="choice">{{choice2}}</div></a>
			<a><div class="choice">{{choice3}}</div></a>
			<a><div class="choice">{{choice4}}</div></a>		
		</div>
	</div>
</body>
</html>
