<html>
<head>
	<title>Solve the Puzzle</title>
	<meta name="viewport" content="width=device-width, initial-scale:1.0">
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>
	<div class="container">
		<div id="questionBox"><p class="buttonText">{{puzzle.question}}</p>
			<div id="choiceBox">
				<a href="/puzzle/answer?answer=a&id={{puzzle.id}}&count={{count}}"><div class="choice">
					<p class="buttonText">{{puzzle.choice.a}}</p></div></a>
				<a href="/puzzle/answer?answer=b&id={{puzzle.id}}&count={{count}}"><div class="choice">
					<p class="buttonText">{{puzzle.choice.b}}</p></div></a>
				<a href="/puzzle/answer?answer=c&id={{puzzle.id}}&count={{count}}"><div class="choice">
					<p class="buttonText">{{puzzle.choice.c}}</p></div></a>
				<a href="/puzzle/answer?answer=d&id={{puzzle.id}}&count={{count}}"><div class="choice">
					<p class="buttonText">{{puzzle.choice.d}}</p></div></a>		
			</div>
			<div id="countBox">
				<div style="background-color:{{ccolor.a}}" class="count"></div>
				<div style="background-color:{{ccolor.b}}" class="count"></div>
				<div style="background-color:{{ccolor.c}}" class="count"></div>
				<span style="text-align: left;padding: 30px;" class="buttonText">{{outcome}}</span>
			</div>
		</div>
	</div>
</body>
</html>
